MongoDB Step-by-Step

1. First step: let us visit this website and download and install MongoDB as per the OS you are Running on your system
https://www.mongodb.com/try/download/community

2. Second step: Open your editor of Choice and run pip install pymongo

3. Third step: Run this command to import pymongo into your environment
    from pymongo import MongoClient

4. Fourth step: Declare a variable client and store the MongoClient() function into it
   Client = MongoClient()  # equivalinet to MongoDBClinet(http://localhost:27017)

5. Fifth step: declare a variable db to store the database in
   db = Client["Students"]

6. Sixth step: Declare a collection for the above Database
   collection = db["names"]

7. Seventh step:

names = {}
names ["jina"] = "Lucy Wagoro"
names ["mjini"] = "Kisumu"
names ["nchii"] = "Kenya"
collection.insert_one(names)

8. Eighth step. 
print(names) #Output record

9. cursor = collection.find() #search for the record using find function

10. print(names['jina']) #print name

In [9]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\mnjaa\anaconda3\lib\site-packages (3.11.2)Note: you may need to restart the kernel to use updated packages.

In [10]:
import pymongo

from pymongo import MongoClient

#Creating a Database

#To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

#MongoDB will create the database if it does not exist, and make a connection to it.

In [11]:
Client = MongoClient("mongodb://localhost:27017/")

In [12]:
cluster = ("mongodb+srv://mnjaaga:yourpassword@cluster0.bhfhi.mongodb.net/<>?retryWrites=true&w=majority")
#mongodb+srv://mnjaaga:<password>@cluster0.bhfhi.mongodb.net/<dbname>?retryWrites=true&w=majority
cluster = MongoClient(cluster)

In [13]:
db = cluster["Students"]

In [14]:
collection = db["names"]

#Insert Into Collection

#To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

#The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [15]:
names = {}
names ["jina"] = "Monicah Njaaga"
names ["mjini"] = "Kiambu"
names ["nchii"] = "Kenya"
collection.insert_one(names)

In [16]:

print(names) #Output record

{'jina': 'Monicah Njaaga', 'mjini': 'Kiambu', 'nchii': 'Kenya', '_id': ObjectId('5ff899f432010d13fc0853ff')}

In [17]:
print(names['jina']) #print name

Monicah Njaaga

#Insert Multiple Documents

#To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

#The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [18]:
#insert many documents

names = [
  { "_id":1,"Fname": "Robert","Lname":"Maranga", "Mjini":"USA","Nchi":"USA"},
  { "_id":2,"Fname": "Ciru","Lname":"Wachiru", "Mjini":"USA","Nchi":"USA"},
  { "_id":3,"Fname": "Migot","Lname":"Ndede", "Mjini":"USA","Nchi":"USA"},
  { "_id":4,"Fname": "Jacky","Lname":"Atieno", "Mjini":"USA","Nchi":"USA"},
  { "_id":5,"Fname": "Clare","Lname":"Akoth", "Mjini":"USA","Nchi":"USA"},
  { "_id":6,"Fname": "Clare","Lname":"Akoth", "Mjini":"USA","Nchi":"USA"},
]

collection.insert_many(names)

#FIND ONE

#To select data from a collection in MongoDB, we can use the find_one() method.

#The find_one() method returns the first occurrence in the selection.
#Find the first document in the collection:

In [19]:
x = collection.find_one()

print(x)

{'_id': ObjectId('5fdccf5ebb80713a287111db'), 'jina': 'Monicah Njaaga', 'mjini': 'Kiambu', 'nchii': 'Kenya'}

#FIND ALL

#To select data from a table in MongoDB, we can also use the find() method.

#The find() method returns all occurrences in the selection.

#The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.
#No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [20]:
for x in collection.find():
 print(x)

{'_id': ObjectId('5fdccf5ebb80713a287111db'), 'jina': 'Monicah Njaaga', 'mjini': 'Kiambu', 'nchii': 'Kenya'}
{'_id': ObjectId('5ff899f432010d13fc0853ff'), 'jina': 'Monicah Njaaga', 'mjini': 'Kiambu', 'nchii': 'Kenya'}
{'_id': 1, 'Fname': 'Robert', 'Lname': 'Maranga', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 2, 'Fname': 'Ciru', 'Lname': 'Wachiru', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 3, 'Fname': 'Migot', 'Lname': 'Ndede', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 4, 'Fname': 'Jacky', 'Lname': 'Atieno', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 5, 'Fname': 'Clare', 'Lname': 'Akoth', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 6, 'Fname': 'Clare', 'Lname': 'Akoth', 'Mjini': 'USA', 'Nchi': 'USA'}

#FILTER THE RESULT

#When finding documents in a collection, you can filter the result by using a query object.

#The first argument of the find() method is a query object, and is used to limit the search.
#Example

#Find document(s) with the MJINI "USA":

In [21]:
myquery = { "Mjini": "USA" }

mydoc = collection.find(myquery)

for x in mydoc:
  print(x)

{'_id': 1, 'Fname': 'Robert', 'Lname': 'Maranga', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 2, 'Fname': 'Ciru', 'Lname': 'Wachiru', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 3, 'Fname': 'Migot', 'Lname': 'Ndede', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 4, 'Fname': 'Jacky', 'Lname': 'Atieno', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 5, 'Fname': 'Clare', 'Lname': 'Akoth', 'Mjini': 'USA', 'Nchi': 'USA'}
{'_id': 6, 'Fname': 'Clare', 'Lname': 'Akoth', 'Mjini': 'USA', 'Nchi': 'USA'}

#Limit the Result

#To limit the result in MongoDB, we use the limit() method.

#The limit() method takes one parameter, a number defining how many documents to return.

#Consider you have a "collection" collection:

In [22]:
x = collection.find().limit(2)
print(x)

<pymongo.cursor.Cursor object at 0x0000020B154DB310>

In [23]:
#UPDATE THE DATABASE
collection.update({"Fname": "Jacky"}, {"$set":{"Fname": "Monicah"}})

<ipython-input-23-f7458f863808>:2: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  collection.update({"Fname": "Jacky"}, {"$set":{"Fname": "Monicah"}})

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1610128250, 5), 't': 6},
 'electionId': ObjectId('7fffffff0000000000000006'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1610128250, 5),
  'signature': {'hash': b'\xc4(\xdc\xb4\xee\x8a\x06\xef\x8b\xa1\xd0k\xa6\xec|a\x80%Fx',
   'keyId': 6903167168104366083}},
 'operationTime': Timestamp(1610128250, 5),
 'updatedExisting': True}

In [24]:
#Delete a document
collection.delete_one({"Fname":"Clare"})# check database

#Delete Collection

#You can delete a table, or collection as it is called in MongoDB, by using the drop() method.
#Example

#Delete the "collection" collection:

#when a collection is deleted, if it was the only one in the database, the db also gets deleted

In [25]:
collection.drop()